.item {
  padding: 10px 0px;
  border-bottom: 1px solid #dfdfdf;
  overflow-wrap: break-word;
}

.item p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.author {
  color: #4c6c85;
}